@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

.nav-horizontal {
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  background-color: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    margin: 0 80px 0 20px;

    height: 100%;
    list-style-type: none;

    li {
      cursor: pointer;

      color: white;
      font-size: 24px;
    }
  }
}

.nav-vertical {
  width: 120px;
  position: fixed;
  top: 0;
  height: 100vh;

  background-color: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    li {
      background-color: white;
      border-radius: 6px;
      width: 64px;
      height: 64px;
      padding: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        background-color: rgb(226, 226, 226);
      }
    }
  }

  p {
    width: 120px;
    transform: rotate(271deg);
    color: white;
    font-size: 10px;
  }
}





// MAIN
main {
  margin: 130px 90px 85px 230px;
}

.title {
  font-size: 48px;

  .title-name {
    color: #FF0101;
  }
}

.objectif-success {
  font-size: 18px;
}

// GRAPH
.bar-graph {
  position: relative;
  margin-top: 80px;
  height: 320px;
  
  background-color: #FBFBFB;
  border: 1px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.graph-1 {

  .recharts-default-legend {
    top: -50px;
    position: absolute;
    right: 50px;
  }
}


.custom-tooltip {
  background-color: #E60000;
  color: white;
  text-align: center;

  border: 1px solid transparent;

  .label  {
    padding: 15px 15px;
  }
}


.card-content {
  background: #FBFBFB;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  display: flex;
  height: 125px;

  padding-left: 32px;
  margin-bottom: 40px;

  .card-info {
    display: flex;
    flex-direction: column;

    .card-number {
      font-weight: bold;
      font-size: 20px;
    }

    .card-text {
      color: #74798C;
      font-size: 14px;
    }
  }
}